__pycache__

node_modules

# Certificate cache
.http-mitm-proxy
**/*.crt
**/*.key
**/*.pem

# Load test
**/data/*.csv
**/load-test/*.json
**/load-test-*/*.json
**/certificate-generation-test/*.json

.pytest_cache

build
dist
**/assets/grooveproxy

# Exclude built python files
**/*.so
